@model DisciplinaModel;
@{
    ViewData["Title"] = "Alterar Disciplina";
}

<div class="text-center">
    <h1 class="display-4">Alterar Disciplina</h1>
</div>


<form asp-controller="Disciplinas" asp-action="Alterar" method="post">

    <input type="hidden" asp-for="Id" />
    <div class="mb-3">
        <label for="nome" class="form-label">Nome da Disciplina</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome da Disciplina">
    </div>

    <div class="mb-3">
        <label for="professor" class="form-label">Professor</label>
        <input type="text" asp-for="Professor" class="form-control" placeholder="Digite o Professor">
    </div>
    <button type="submit" class="btn btn-outline-success">Alterar</button>
    <a role="button" class="btn btn-outline-primary" asp-controller="Disciplinas" asp-action="Index">Voltar</a>
</form>

