@model CursoModel;
@{
    ViewData["Title"] = "Cadastrar Cursos";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Cursos</h1>
</div>
<form asp-controller="Cursos" asp-action="Adicionar" method="post">
    <div class="mb-3">
        <label for="nome" class="form-label">Nome do Curso</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Digite o nome do Curso">
    </div>

    <div class="mb-3">
        <label for="local" class="form-label">Local do Curso</label>
        <input type="text" asp-for="Local" class="form-control" placeholder="Digite o Local do curso">
    </div>

    <button type="submit" class="btn btn-outline-success">Adicionar</button>
    <a role="button" class="btn btn-outline-primary" asp-controller="Cursos" asp-action="Index">Voltar</a>
</form>

